
#include "resource.h"
#include <afxres.h>

IDD_SUMAPP_DIALOG DIALOGEX 0, 0, 237, 97
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sum Application"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,10,10,50,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,70,10,50,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Add",IDOK,130,10,40,14
    EDITTEXT        IDC_EDIT3,180,10,50,14,ES_AUTOHSCROLL | ES_READONLY
END

IDR_MAINFRAME ICON "res\SumApp.ico"
